.container {
    display: flex;
    padding: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-field {
    padding: 15px;
    width: 80%;
    margin: auto;
    border: 1px solid blanchedalmond;
    border-radius: 6px;
    font-size: 16px;
}

.input-field:focus{
    outline: none;
}